function Square.xyz 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
return
function Square.abc 2
push argument 0
pop pointer 0
push constant 5
pop local 0
push constant 1
call String.new 1
push constant 65
call String.appendChar 2
pop local 1
push local 1
push constant 0
call String.charAt 2
pop local 0
push local 0
return
